* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: #ecf2f8;
}

.container {
    margin: 74px auto 32px auto;
    width: 90%;
    background-color: white;
    box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.5);
    border-radius: 10px;
}

.drawers {
    width: 100%;
    height: 200px;
    display: block;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

article {
    margin: 36px auto 20px auto;
    width: 80%;
}

article h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #48556a;
    margin-bottom: 12px;
}

.tips {
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.121875px;
    color: #6e8098;
    max-width: 265px;
    margin-bottom: 32px;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.share {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ecf2f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-icon {
    width: 15px;
    height: 13px;
}

.info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.name-and-date {
    margin-left: -15%;
}

.name {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.121875px;
    color: #48556a;
}

.date {
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.121875px;
    color: #9daec2;
}


footer a {
    text-decoration: none;
    color: orange;
}

.paminos {
    color: goldenrod;
    font-weight: 600;
}

footer {
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: darkgrey;
    margin-bottom: 16px;
}